<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img
              src="{% static '/logo.png' %}"
              height="35"
              alt="MDB Logo"
              loading="lazy"
            />
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/view_register"> Register here</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view_login"> Login</a>
            </li>
          </ul>
          <!-- Left links -->
        </div>
      </div>
      <!-- Container wrapper -->
    </nav>
    <h1 class="text-center p-3">Welcome To Health Map</h1>

    <div class="card mx-auto text-center p-1" style="width: 30rem">
      <img
        class="card-img-top p-2"
        src="{% static '/healthmap.svg' %}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Introduction</h5>
        <p class="card-text">
          Welcome to our site,which will provide addresses for hospital and
          pharmacies near you and other in palestine.
        </p>
        <a class="btn btn-primary" href="/view_login"> Let's Start</a>
      </div>
    </div>

    <div class="card mx-auto text-center p-3 m-2" style="width: 30rem">
      <img
        class="card-img-top p-2"
        src="{% static '/contact_us.jpg' %}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Contact Us</h5>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/abd-alrahman-abd-alrazeq/"
          ><i class="fa fa-linkedin-square fa-lg"></i
        ></a>
        <a target="_blank" href="https://github.com/A-AbdAlrazeq"
          ><i class="fa fa-github-square fa-lg"></i>
        </a>
      </div>
    </div>
  </body>
</html>
